<article id="about">

  <section id="landing-picture-bio" class="row">
    <div id="landing-picture-bio-inner" class="container">
      <div id="landing-picture">
        <div id="landing-picture-inner">
          <img src="/themes/bootstrap/img/me.jpg" />
        </div>
      </div>
      <div id="landing-bio">
        <div id="landing-bio-inner">
          {{ block_summary_of_me }}
        </div>
      </div>
    </div>
  </section>

</article>
