<div id="contact-confirm">
  <div id="contact-confirm-inner">
    <div id="contact-confirm-top"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submission Received</div>
    <div id="contact-confirm-bottom">I'll try to be in touch soon.</div>
  </div>
</div>
