<article id="contact">
  <div id="content-inner" class="container">

    <div id="contact-left" class="col-md-6">
      <div id="contact-left-inner">
      <div>Feel free to contact me for anything Drupal.</div>
      <div class="margin-top-20">I used this form to test out the new Entity API. It uses the new field API, form API, Ajax API, entity translations, views integration, entity access control, and bulk actions to do a bunch of things behind the scenes.</div>
      <div class="margin-top-20">It's the web's most overkill contact form.</div>
      </div>
    </div>

    <div id="contact-right" class="col-md-6">
      <div id="contact-right-inner">
        {{ form }}
      </div>
    </div>

  </div>
</article>
