<article id="contact">
  <div id="content-inner" class="container">

    <div id="contact-left" class="col-md-6">
      <div id="contact-left-inner">
      Feel free to contact me for anything Drupal.
      </div>
    </div>

    <div id="contact-right" class="col-md-6">
      <div id="contact-right-inner">
        {{ form }}
      </div>
    </div>

  </div>
</article>
