<footer id="footer">
  <div class="container">
    <div id="footer-name-menu" class="row">
      <div id="footer-menu" class="col-md-9">
        <div id="footer-menu-inner">
          {{ menu }}
        </div>
      </div>
      <div id="footer-name-title" class="col-md-3">
        <div id="footer-name">Bryan Jiencke</div>
        <div id="footer-title">{% trans %}Drupal Developer{% endtrans %}</div>
      </div>
    </div>
    <div id="footer-copyright" class="row">
      <div id="footer-copyright-inner">
        &copy; Bryan Jiencke 2016
      </div>
    </div>
  </div>
</footer>
