<header>

  <div id="header-inner">

    <div id="header-fixed" class="header-main">
      <div class="container">
        <a href="/">
          <div id="header-drupal" class="col-md-1">
            <div id="header-drupal-inner">
              <img src="/themes/bootstrap/img/logo/drupal.png" />
            </div>
          </div>
          <div id="header-logo" class="col-md-4">
            <div id="header-logo-inner">
              <div id="header-logo-name">Bryan Jiencke</div>
            </div>
          </div>
        </a>
        <div id="header-menu" class="col-md-7">
          <div id="header-menu-inner">
            <div id="header-icons">
              <a id="header-icon-contact" href="/contact" title="Contact">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
              </a>
              <a id="header-icon-top" class="scroll-link" href="#top" title="Back to top">
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
              </a>
              <a id="header-icon-search" href="" title="Search my site">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </a>
            </div>
            <div id="header-hidden-search">
              {{ search_form }}
            </div>

            <navigation id="main" class="header-search-menu-active">
              {{ menu }}
            </navigation>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div id="header-secondary" class="row">
        <div id="header-secondary-inner">
          <div id="header-secondary-left">
            <div id="header-lang">
              <a href="" id="header-lang-us" title="View this site in English"><img src="/themes/bootstrap/img/flags/en.png"></a>
              <a href="" id="header-lang-es" title="View this site in Spanish"><img src="/themes/bootstrap/img/flags/es.png"></a>
              <a href="" id="header-lang-de" title="View this site in German"><img src="/themes/bootstrap/img/flags/de.png"></a>
            </div>
          </div>
          <div id="header-secondary-right">
            <div id="header-secondary-links">
              <a href="/about">About Me</a>
              <a href="/contact">Contact</a>
            </div>
            <div id="header-secondary-search">
              {{ search_form }}
            </div>
          </div>
        </div>
      </div>

      <div id="header-primary" class="row header-main">
        <a href="/">
          <div id="header-drupal" class="col-md-1">
            <div id="header-drupal-inner">
              <img src="/themes/bootstrap/img/logo/drupal.png" />
            </div>
          </div>
          <div id="header-logo" class="col-md-4">
            <div id="header-logo-inner">
              <div id="header-logo-name">Bryan Jiencke</div>
              <div id="header-logo-title">Drupal Developer</div>
            </div>
          </div>
        </a>
        <div id="header-menu" class="col-md-7">
          <div id="header-menu-inner">
            <navigation id="main">
              {{ menu }}
            </navigation>
          </div>
        </div>
      </div>

    </div>

  </div>
</header>
