<div id="listing" class="listing-type-{{ type }}">
  <div class="container listing-inner">
    <div id="listing-facets" class="col-md-3">
      {{ view_facets }}
    </div>
    <div id="listing-content" class="col-md-9">
      {{ view_body }}
    </div>
  </div>
</div>
