<div id="listing" class="listing-type-{{ type }}">
  <div class="container listing-inner">
    <div id="contact-subtitle" class="subtitle">
      {{ subtitle }}
      <div class="arrow-wrapper arrow-blue-wrapper arrow-subtitle-wrapper">
        <div class="arrow"></div>
      </div>
    </div>
    <div class="six columns listing-facets">
      {{ view_facets }}
    </div>
    <div class="eighteen columns listing-body">
      {{ view_body }}
    </div>
  </div>
</div>
